
        body {
            font-family: Arial, sans-serif;
            background-color: #f3f2ef;
            display: flex;

            align-items: center;
            height: 100vh;
            margin: 0;
        }
        #Password{
            font-weight: bold;
        }
        #User {
            font-weight: bold;
        }
        #form-box {
            margin: 10vw;
            background: white;
            padding-bottom: 5vw;
            padding-left: 5vw;
            padding-right: 5vw;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
        #Welcome{
            margin-bottom: 1vw;
            margin-top: 2vw;
            width: a;
        }
        .login-container {
            background: white;
            padding: 40px;
            width: 380px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            text-align: center;
        }
        h2 {
            color: #0073b1;
            margin-bottom: 20px;
        }
        input[type="text"], input[type="password"] {
            width: 100%;
            padding: 12px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;

        }
        .error-message {
            color: red;
            margin-bottom: 10px;
        }
        input[type="submit"] {
            width: 100%;
            background-color: #0073b1;
            color: white;
            padding: 12px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 7px;
        }
        input[type="submit"]:hover {
            background-color: #005582;
        }
        .footer {
            margin-top: 15px;
            font-size: 14px;
        }
        img {
          width: 50%;
          height: 100%;
          object-fit: cover;
        }
        a {
          color: black;
          text-decoration: none;

        }

        a:hover {
          color: gray;
        }