<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Forgot Password</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>

<body class="bg-black bg-cover bg-left-center flex flex-col justify-between min-h-screen">
<!-- Main content (email input form) -->
<div class="flex-1 flex justify-center items-center">
    <div class="absolute top-1/2 transform -translate-y-1/2 w-full max-w-md bg-black bg-opacity-70  p-8 rounded-xl shadow-lg">
        <div id="form-box" class="relative z-10 bg-black  p-8 rounded-lg border border-opacity-0 shadow-lg">
            <form th:action="@{/forgot-password}" method="post" class="space-y-6">
                <h2 class="font-extrabold text-3xl text-white text-center mb-6">Recover Your Account</h2>

                <div class="flex flex-col space-y-2">
                    <label for="email" class="text-sm text-gray-400">Enter your email:</label>
                    <input type="email" name="email" id="email" required class="w-full p-3 bg-gray-800 border border-gray-700 rounded-lg text-white focus:outline-none focus:ring-2 focus:ring-blue-500"/>
                    <div th:if="${errorMessage}" class="text-white">
                        <p th:text="${errorMessage}"></p>
                    </div>
                </div>

                <div class="mt-6">
                    <input type="submit" value="Send Recovery Email" class="w-full py-3 bg-blue-600 text-white font-medium rounded-lg cursor-pointer hover:bg-blue-700"/>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>